<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit a Clothing Item</title>
</head>
<body>
    <h1>Edit <%= clothing.name %></h1>
    <form action="/clothing/<%= clothing._id %>?_method=PUT" method="POST">
        <label for="name">Clothing Name:</label>
        <input type="text" name="name" id="name" value="<%= clothing.name %>" />
    
        <label for="brand">Brand:</label>
        <input type="text" name="brand" id="brand" value="<%= clothing.brand %>" />
  
        <label for="size">Size:</label>
        <input type="text" name="size" id="size" value="<%= clothing.size %>" />
    
        <label for="color">Color:</label>
        <input type="text" name="color" id="color" value="<%= clothing.color %>" />
    
        <button type="submit">Update Clothing</button>
    </form>
    <a href="/clothing">Back to Clothing Index</a>
</body>
</html>
