<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= clothing.name %></title>
</head>
<body>
    <h1><%= clothing.name %></h1>
    <p>Brand: <%= clothing.brand %></p>
    <p>Size: <%= clothing.size %></p>
    <p>Color: <%= clothing.color %></p>
    <form action="/clothing/<%= clothing._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= clothing.name %></button>
    </form>
    <a href="/clothing/<%= clothing._id %>/edit">Edit <%= clothing.name %></a>
    <a href="/clothing">Back to Clothing Index</a>
</body>
</html>
